.todoBox{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.351);
    animation: slide-out 1s ease-in-out forwards;
}

.todoBox input{
    margin-left: 5px;
}

@keyframes slide-out{
    from{
        transform: translateX(50px);
        opacity: 0;
    }

    to{
        transform: translateX(30px);
        opacity: 1;
    }
}

.todoBox img {
    width: 40px;
    height: 37px;
    margin-left: 7px;
    border-radius: 10px;
    padding: 7px;
    align-self: right;
    cursor: pointer;
    background-color: aliceblue;
}

.texts h1{
    font-size: 20px;
}

.texts p{
    color: rgb(61, 61, 61);
}

.texts{
    flex: 1;
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:420px){
    .todoBox{
        margin: 0;
    }

   .texts{
    display: block;
   }

   .texts h1{
    font-size: 19px;
   }

   .texts p{
     font-size: 14px;
   }
}