*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.head{
    display: flex;
    justify-content: space-between;
}

.namelogo {
  display: flex;
  align-items: center; 
  gap: 10px;
  padding: 25px;
  color: blue;
  padding-left: 40px;
  letter-spacing: 2px;
}

.taskStats { 
  display: flex;
  gap: 5px;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 10px;
  font-weight: 600;
  color: #333;
  padding-top: 10px;
}

.total{
 background-image: radial-gradient( circle farthest-corner at 32.7% 49.8%,  rgba(28,88,238,1) 0%, rgba(0,39,137,1) 100.2% );
 color: white;
 padding: 15px;
 font-weight: 200;
 border-radius: 20px;
}

.complete{
 background-image: linear-gradient( 75.1deg,  rgba(34,126,34,1) 6%, rgba(99,226,17,1) 84.3% );
 color: white;
 padding: 15px;
 font-weight: 200;
 border-radius: 20px;
}

.incomplete{
 background-image: radial-gradient( circle 1588px at -27.3% 144%,  rgba(255,22,22,1) 0%, rgba(0,0,0,1) 43.4%, rgba(0,0,0,1) 65.8%, rgba(255,22,22,1) 100.2% );
 color: white;
 padding: 15px;
 border-radius: 20px;
}


.namelogo img{
    width: 40px;
    height: auto;
}

.logout img{
    width: 30px;
    height: auto;
    cursor: pointer;
}

.logout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

.logout p{
    font-size: 16px;
}

.mainContainer{
    width: 95%;
    height: 80%;
    border-radius: 30px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.1);

}

.inputTodo{ 
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    margin: auto;
}

.inputTodo input{
    height: 50px;
    width: 45%;
    margin-left: 10px;
    border-radius: 20px;
    border: 0.2px solid gray;
    padding-left: 20px;
    font-size: 16px;
}


.inputTodo button{
    height: 50px;
    margin-left: 2%;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    border: 0.2px solid gray;
    background-image: radial-gradient( circle farthest-corner at 32.7% 49.8%,  rgba(28,88,238,1) 0%, rgba(0,39,137,1) 100.2% );
    color: white;
    cursor: pointer;
}

.AddedTodo{
    width: 92%;
    height: 70%;
    margin-left: 3%;
    padding-right: 20px;
}

@media screen and (max-width:420px) {
    .mainContainer{
        margin-top: 10px;
    }

    .namelogo{
        padding-left: 20px;
        letter-spacing: 0;
        font-size: 15px;
        gap: 1px;
    }

    .logout p{
        display: none;
    }
    
    .inputTodo{
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-right: 15px;
        gap: 10px;
    }
    
    .inputTodo input, button{
        width: 100%;
    }

}